{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<div id="page">
  <ul id="list">
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ $paginator := .Paginate (where $pages "Section" "!=" "") }}
    {{ range $paginator.Pages }}
    <li>
      <a href="{{ .RelPermalink }}">
        {{ if .Params.important }}<span alt="highlight" class="important">*</span>{{ end }}
        <span class="tag">[{{ .Params.tag }}]</span>
        {{ .Title | markdownify }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
<!-- [{{ .Date.Format "2006-01-02" }}] -->
{{ partial "footer.html" . }}
